:root {
    --palette1: #101010;
    --palette2: #202020;
    --palette3: #DCDCDC;
}

* {
    margin: 0;
    border: 0;
}

body {
    background-color: #000000
}

p {
    color: #DCDCDC;
    font-family: monospace;
    font-size: 2em;
}

.measure-icon {
    width: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 50% 50%;
    height: 100vh;
}

.grid-item {
    width: 100%;
    border: 1px solid red;
    box-sizing: border-box;
    text-align: center;
}

.centered-text {
    position: relative;
    top: -55%;
}

#slope-div {
    grid-column: 1;
    grid-row: 1;
}

#wind-div {
    grid-column: 3;
    grid-row: 1;
}

#nav-div {
    grid-column: 2;
    grid-row: span 2;
}

#speed-div {
    grid-column: 1;
    grid-row: 2;
}

#power-div {
    grid-column: 3;
    grid-row: 2;
}